@charset "UTF-8";
@font-face {
    font-family: "Bebasregular";
    src: url("https://staticx-talent.basecdn.net/image/fonts/svnbebasneue/bebasneueregular.otf");
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: "Bebaslight";
    src: url("https://staticx-talent.basecdn.net/image/fonts/svnbebasneue/bebasneuelight.otf");
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: "Bebasthin";
    src: url("https://staticx-talent.basecdn.net/image/fonts/svnbebasneue/bebasneuethin.otf");
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: "Bebasbook";
    src: url("https://staticx-talent.basecdn.net/image/fonts/svnbebasneue/bebasneuebook.otf");
    font-weight: bold;
    font-style: normal
}
@font-face {
    font-family: "Bebasbold";
    src: url("https://staticx-talent.basecdn.net/image/fonts/svnbebasneue/bebasneuebold.otf");
    font-weight: bold;
    font-style: normal
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}
.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
}
@-webkit-keyframes fadeInDown {
    from {
        opacity: 0; filter: alpha(Opacity:0);
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1; filter: alpha(Opacity:100);
        -webkit-transform: none;
        transform: none;
    }
}
@-moz-keyframes fadeInDown {
    from {
        opacity: 0; filter: alpha(Opacity:0);
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1; filter: alpha(Opacity:100);
        -webkit-transform: none;
        transform: none;
    }
}
@-o-keyframes fadeInDown {
    from {
        opacity: 0; filter: alpha(Opacity:0);
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1; filter: alpha(Opacity:100);
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInDown {
    from {
        opacity: 0; filter: alpha(Opacity:0);
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1; filter: alpha(Opacity:100);
        -webkit-transform: none;
        transform: none;
    }
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
@-webkit-keyframes fadeInUp {
    from {
        opacity: 0; filter: alpha(Opacity:0);
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1; filter: alpha(Opacity:100);
        -webkit-transform: none;
        transform: none;
    }
}
@-moz-keyframes fadeInUp {
    from {
        opacity: 0; filter: alpha(Opacity:0);
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1; filter: alpha(Opacity:100);
        -webkit-transform: none;
        transform: none;
    }
}
@-o-keyframes fadeInUp {
    from {
        opacity: 0; filter: alpha(Opacity:0);
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1; filter: alpha(Opacity:100);
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInUp {
    from {
        opacity: 0; filter: alpha(Opacity:0);
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1; filter: alpha(Opacity:100);
        -webkit-transform: none;
        transform: none;
    }
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0; filter: alpha(Opacity:0);
    }
    to {
        opacity: 1; filter: alpha(Opacity:100);
    }
}
@-moz-keyframes fadeIn {
    from {
        opacity: 0; filter: alpha(Opacity:0);
    }
    to {
        opacity: 1; filter: alpha(Opacity:100);
    }
}
@keyframes fadeIn {
    from {
        opacity: 0; filter: alpha(Opacity:0);
    }
    to {
        opacity: 1; filter: alpha(Opacity:100);
    }
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
.ant-select-selection__rendered1{
    height: 32px !important;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 22px;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.65);
    font-weight: 600;
    background-color: #fafafa;
}
.ant-select-selection__rendered1:hover{
    background-color: #e6f7ff;
}
.ant-select-selection--single{
    height: 40px !important;
}
.container-recruitment {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    max-width: 1100px;
    margin: 0px auto;
    margin-bottom: 40px;
}
.head-sec{
    text-align: center;
    margin-bottom: 40px;
}
.head-sec .title-main {
    font-size: 32px;
    font-weight: 300;
    display: inline-block;
    color:#333;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 20px;
}
.head-sec .desc {
    font-weight: 300;
    line-height: 25px;
}
.sec-jobs .list-jobs {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.1);
}
.list-jobs .title-cat {
    font-size: 24px;
    color: #333;
    position: relative;
    font-weight: 500;
    line-height: 30px;
    padding: 10px 15px;
}
.list-jobs .title-cat:before {
    content: "";
    height: 3px;
    width: 70px;
    background: rgba(51,51,51,0.1);
    position: absolute;
    bottom: 0px;
    left: 15px;
}
.list-jobs .box-cat .item-job {
    padding: 10px 15px;
    width: 100%;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #333;
    display: table;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.list-jobs .box-cat .item-job .name-job {
    width: 60%;
}
.list-jobs .box-cat .item-job .cell {
    display: table-cell;
    vertical-align: middle;
}
.list-jobs .box-cat .item-job .title {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 2px;
    font-family: Bebasregular;
}
.list-jobs .box-cat .item-job .title a {
    line-height: 22px;
    color: #333;
    font-weight: 300;
}
.list-jobs .box-cat .item-job .desc {
    padding: 0px 20px;
}

.list-jobs .box-cat .item-job .desc, .list-jobs .box-cat .item-job .cta {
    text-align: right;
}
.list-jobs .box-cat .item-job .desc {
    opacity: .8;
    filter: alpha(Opacity:80);
}
.list-jobs .box-cat .item-job .cell {
    display: table-cell;
    vertical-align: middle;
}
.cell {
    display: table-cell;
}
.list-jobs .box-cat .item-job .desc .info {
    display: inline-block;
    font-family: Roboto;
}
.list-jobs .box-cat .item-job .info .-ap {
    margin-right: 5px;
    color: #333;
}

.list-jobs .box-cat .item-job .desc .-ap {
    margin-left: 5px;
}
.-ap, .ap {
    font-family: 'ap' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-clock6:before {
    content: "\e8be";
}
.list-jobs .box-cat .item-job .desc .info {
    display: inline-block;
    font-family: Roboto;
}

.list-jobs .box-cat .item-job .info {
    font-size: 13px;
}
.list-jobs .box-cat .item-job .desc .info a {
    color: #333;
}
.box-cat .item-job .cta {
    text-align: right;
}
.list-jobs .box-cat .item-job .cta .btn-apply {
    padding: 10px 20px;
    background-color: #EA8000;
    color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    font-family: Roboto;
}
.btn-apply {
    padding: 7px 15px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    white-space: nowrap;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.table {
    display: table;
}

.full, .ap-full {
    width: 100%;
}
#article {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 60px;
    line-height: 25px;
    padding-right: 30px;
}
.article .content-article {
    line-height: 25px;
    padding-top: 40px;
}
.list-related {
    padding: 40px 0px;
    border-top: 1px dotted #e0e0e0;
}
#detail-job .index{
    background-color: #fff;
}
.article .content-article h2 {
    font-size: 24px;
    color: #ea8000;
}

.article .content-article h2, .article .content-article h3, .article .content-article h4, .article .content-article h5 {
    margin-bottom: 20px;
    line-height: 1.3;
    color: #ea8000;
    font-weight: normal;
}
.list-related {
    padding: 40px 0px;
    border-top: 1px dotted #e0e0e0;
}
.list-related .name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: "Bebasbold", "Roboto", Helvetica, arial;
}
.list-related a {
    display: block;
    font-family: Roboto;
    line-height: 20px;
    margin-bottom: 15px;
}
.sidebar-article {
    padding-top: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 35%;
    padding-left: 30px;
}
.sidebar-article .desc-job {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    padding: 20px;
    margin-top: 30px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.sidebar-article .desc-job .desc {
    font-family: Roboto;
    line-height: 25px;
    padding: 10px 0px;
    border-bottom: 1px dotted #e0e0e0;
}
.sidebar-article .desc-job .desc span {
    font-weight: bold;
    display: block;
}
.sidebar-article .desc-job .desc:last-child {
    border-bottom: 0px;
}
a {
    color: #555;
    font-weight: normal;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}
a:hover{
    color:#1679C4;
}
#appform .wrapper {
    background-color: #fff;
    padding: 20px 30px;
    -moz-box-shadow: 0 2px 5px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 2px 5px 0px rgb(0 0 0 / 20%);
    box-shadow: 0 2px 5px 0px rgb(0 0 0 / 20%);
}

#appform .wrapper {
    background-color: #fff;
    margin-top: 40px;
    border-top: 2px dotted rgba(0,0,0,0.1);
}
#appform h1 {
    font-weight: 300;
    font-size: 36px;
    padding-bottom: 30px;
}
#appform .form {
    font-family: Roboto;
}
#appform .form .row {
    padding-bottom: 25px;
}
.ap-xo, .xo {
    overflow: hidden;
}
#appform .form .row .label {
    color: #666;
    font-weight: bold;
    padding-bottom: 8px;
}
#appform .form .row .input input, #appform .form .row .input textarea {
    padding: 11px 13px;
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    outline: none;
}

#appform .form .row .input input, #appform .form .row .input textarea {
    padding: 11px 13px;
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    -moz-box-shadow: inset 1px 1px 1px #f8f8f8;
    -webkit-box-shadow: inset 1px 1px 1px #f8f8f8;
    box-shadow: inset 1px 1px 1px #f8f8f8;
    outline: none;
}
#appform .form .row .input input, #appform .form .row .input textarea, #appform .form .row .select select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    display: block;
    background: transparent;
    outline: none;
}
#appform .form .row .input--select {
    position: relative;
}
#appform .form .row .input--select i.icon {
    position: absolute;
    top: 45%;
    left: 10px;
    transform: translateY(-45%);
}

[class^="ficon-"], [class*=" ficon-"] {
    margin-right: 0px;
}
[class^="ficon-"], [class*=" ficon-"] {
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    margin-top: 0;
}
[class^="ficon-"], [class*=" ficon-"] {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    margin-right: .3em;
}
.ficon-search:before {
    content: "\f002";
}
[class^="ficon-"]:before, [class*=" ficon-"]:before {
    text-decoration: inherit;
    display: inline-block;
    speak: none;
}
#appform .form .row .input--select.input input {
    border: 1px solid rgba(0,0,0,0.1);
    margin-bottom: -1px;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    padding-left: 30px;
}

#appform .form .row .input input, #appform .form .row .input textarea {
    padding: 11px 13px;
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    outline: none;
}
#appform .form .row .input input, #appform .form .row .input textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    display: block;
    background: transparent;
    outline: none;
}
#appform .form .row .input input, #appform .form .row .input textarea {
    padding: 11px 13px;
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    -moz-box-shadow: inset 1px 1px 1px #f8f8f8;
    -webkit-box-shadow: inset 1px 1px 1px #f8f8f8;
    box-shadow: inset 1px 1px 1px #f8f8f8;
    outline: none;
}
#appform .form .row .input input, #appform .form .row .input textarea, #appform .form .row .select select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    display: block;
    background: transparent;
    outline: none;
}
.form .select-m {
    box-shadow: inset 0 0 0 1px rgb(0 0 0 / 10%);
    background-color: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    max-height: 250px;
    overflow-y: scroll;
    display: block;
    width: 100%;
}

.select {
    position: relative;
    width: 100%;
}
.form .select-m .option {
    padding: 12px 15px 12px 45px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    font-size: 14px;
    color: #888;
    position: relative;
    cursor: pointer;
}
.form .select-m .option:before {
    position: absolute;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(0,0,0,0.2);
    top: 15px;
    left: 15px;
    content: "";
    background-color: #fff;
}
#appform .form .upload {
    position: relative;
    border: 1px dashed #ccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-top: 10px;
}
#appform .form .upload .text {
    position: relative;
    text-align: center;
    font-size: 15px;
    z-index: 100;
    padding: 10px 0;
}
#appform .form .upload input {
    display: block;
    position: absolute;
    white-space: nowrap;
    width: 100%;
    height: 100%;
    z-index: 101;
    opacity: 0;
    filter: alpha(Opacity:0);
}
#appform .form .upload input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
}

#appform .form .upload input {
    display: block;
    position: absolute;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    width: 100%;
    height: 100%;
    z-index: 1001;
    opacity: 0;
    filter: alpha(Opacity:0);
    top: 0px;
}
#appform .form .upload .text .more {
    font-size: 13px;
    font-weight: 300;
    color: #999;
    padding-top: 4px;
}
.full-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
#appform .form .submit {
    background-color: #7abd1a;
    padding: 15px 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    margin-top: 30px;
}
.form .select-m .option.active {
    font-weight: 500;
    color: #7abd1a;
}

.form .select-m .option:hover {
    background: rgba(122,189,26,0.1);
    color: #111;
}
.form .select-m .option.active:before {
    background: rgba(122,189,26,0.8);
    border: 1px solid rgba(0,0,0,0.1);
}
.form .select-m .option.active:after {
    position: absolute;
    color: #fff;
    font-family: ap;
    content: "";
    background-image: url("../images/icon_checkbox.svg");
    top: 15px;
    left: 15px;
    width: 15px;
    height: 15px;
}
.component-blog .content-body .item img{
    width: 200px;
    height: 150px;
    object-fit: contain;
}
.news-post .content .description{
    height: 140px;
}
#article .article_wrap {
    margin-bottom: 40px;
}
.article_content_wrap {
    max-width: 70%;
    margin: 0 auto;
    padding: 30px 0;
}
.blog-breadcrumb {
    margin-bottom: 20px;
}
.blog-breadcrumb .breadcrumb {
    background: transparent;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.breadcrumb>li {
    display: inline-block;
}
.article_content_wrap h1 {
    font-size: 34px;
    float: none;
    color: #000;
    display: inline-block;
}

.section_heading {
    float: left;
    font-weight: 700;
    position: relative;
    margin-bottom: 30px;
    margin-top: 0;
    font-size: 42px;
    font-family: 'BebasNeue','Lato', "Times New Roman", serif;
}
.article_content_wrap h1:after {
    background-color: #EA8025;
    width: 20%;
}
.line_after_heading:after {
    content: '';
    height: 4px;
    background: #191919;
    width: 50%;
    display: block;
}
#article .article_content {
    position: relative;
    z-index: 1;
}
img {
    border: none;
    max-width: 100%;
    height: auto;
}
.component-blog .content-body .item .content{
    height: 140px;
    overflow: hidden;
}
.about__container {
    background-color: #fff;
}
.about__container .about__content {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 48px 15px 0;
    color: #000;
}
.about__container .about__content .mission {
    background: #fff4b6;
    margin-bottom: 40px;
}
[class*=ant-], [class*=ant-] *, [class*=ant-] :after, [class*=ant-] :before, [class^=ant-], [class^=ant-] *, [class^=ant-] :after, [class^=ant-] :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.ant-row, .ant-row:after, .ant-row:before {
    display: -ms-flexbox;
    display: flex;
}
.ant-row {
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}
.about__container .about__content .mission__content {
    padding: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.about__container .about__content .mission__content .title {
    font-family: Oswald;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    text-transform: uppercase;
    color: #000;
}
.about__container .about__content .mission__content .sub-title {
    margin-top: 20px;
    font-family: Be;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #3d3d3d;
    position: relative;
    text-align: justify;
}
.about__container .about__content .mission__content .sub-title::before {
    content: "“";
    font-family: Oswald;
    font-weight: 700;
    font-size: 70px;
    position: absolute;
    left: -35px;
    top: 15px;
}
.about__container .about__content .mission__content .sub-title::after {
    content: "”";
}
.about__container .about__content .mission__image .content-image {
    width: 100%;
}
.about__container .about__content .core-value {
    background: #000;
    color: #fff;
    padding: 100px 60px 25px;
}
.about__container .about__content .core-value .core-value__image {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about__container .about__content .core-value .core-value__image .icon_diamond {
    width: 72px;
    height: 72px;
    padding: 18px;
    border-radius: 50%;
    background: #fc3;
}
.about__container .about__content .core-value .core-value__image .icon_diamond img {
    width: 100%;
    height: 100%;
}
.about__container .about__content .core-value .core-value__image .text {
    margin-top: 24px;
    margin-bottom: 50px;
    font-family: Oswald;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    text-transform: uppercase;
}
.about__container .about__content .core-value .core-value__image .content_image img {
    width: 100%;
}
.about__container .about__content .core-value__content {
    margin-bottom: 70px;
}
.about__container .about__content .core-value__content .title {
    margin-bottom: 16px;
    font-family: Oswald;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
    color: #fff;
}
.about__container .about__content .core-value__content .subtitle {
    font-family: Be;
    font-size: 14px;
    line-height: 24px;
    color: #bababa;
    text-align: justify;
}
.about__container .about__content .signification {
    padding: 100px 60px;
}
.about__container .about__content .signification .content-icon {
    width: 72px;
    height: 72px;
    padding: 18px;
    margin-bottom: 24px;
    border-radius: 50%;
    background-color: #fc3;
}
.about__container .about__content .signification .content-icon img {
    width: 100%;
    height: 100%;
}
.about__container .about__content .signification .title {
    font-family: Oswald;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    text-transform: uppercase;
    color: #222;
    margin-bottom: 24px;
}
.about__container .about__content .signification .subtitle {
    font-family: Be;
    font-size: 18px;
    line-height: 28px;
    color: #222;
    text-align: justify;
}
.about__container .about__content .signification .note {
    font-family: Be;
    font-size: 14px;
    line-height: 24px;
    color: #5f5f5f;
    margin-bottom: 0;
}
.about__container .about__content .signification .content-image img {
    width: 100%;
}
.about__container .about__content .formation{
    padding: 100px 60px;
    margin-bottom: 40px;
    background-color: #eee;
}
.about__container .about__content .formation .title {
    font-family: Oswald;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    text-transform: uppercase;
    color: #222;
    margin-bottom: 24px;
}
.about__container .about__content .formation .subtitle {
    font-family: Be;
    font-size: 18px;
    line-height: 28px;
    color: #222;
    text-align: justify;
}
.about__container .about__content .service {
    background: #f7f7f7;
    padding: 100px 60px;
    margin-bottom: 40px;
}
.about__container .about__content .service__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
}
.about__container .about__content .service__content .title {
    font-family: Oswald;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    text-transform: uppercase;
    color: #222;
    margin-bottom: 24px;
}
.about__container .about__content .service__content .sub-title {
    font-family: Be;
    font-size: 18px;
    line-height: 28px;
    color: #222;
    margin-bottom: 0;
    text-align: justify;
}

